@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Orbitron:wght@700&display=swap');

root {
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-weight: 400;
}

AnchorPane {
    -fx-background-color: #242529;
}

